body {
    margin-bottom: 200px;
}
.babel--container {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #F1F3F8;
    width: 100%;
    height: 200px;
    z-index: 2000;
    box-shadow: 0 -3px 3px #CCCCCC;
}
.babel--container .item-list {
    margin: 10px;
    width: 31%;
    float: left;
}
.babel--container .item-list h3 {
    background-color: #8895A9;
    margin: 0;
    padding: 4px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.babel--container .item-list ul {
    margin: 0 0 30px 0;
    overflow: auto;
    height: 160px;
    padding: 0;
}
.babel--container .item-list ul li {
    list-style-type: none;
    margin: 3px 0 0 0;
    margin-left: 32px;
}
.babel--container .item-list ul li:last-child {
    margin-bottom: 20px;
}
.babel--container .placeholder {
    background-color: #F36A5A;
    padding: 3px 5px;
    font-style: normal;
    margin-left: -32px;
    display: inline-block;
    width: 17px;
}
.babel--translated .placeholder {
    background-color: #4DB3A2;
    color: white;
}